<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<resultMap id="orderMap" type="com.bitcamp.web.domain.OrderDTO">
  <id property="orderId" column="ORDER_ID" />
  <result property="customerId" column="CUSTOMER_ID" />
  <result property="employeeId" column="EMPLOYEE_ID" />
  <result property="orderDate" column="ORDER_DATE" />
  <result property="shipperId" column="SHIPPER_ID" />
 </resultMap>

<mapper namespace="com.bitcamp.web.mapper.OrderMapper">
  <insert
  id="insertOrder"
  parameterType="com.bitcamp.web.domain.OrderDTO">
  insert into Orders (ORDER_ID,CUSTOMER_ID,EMPLOYEE_ID,ORDER_DATE,SHIPPER_ID)
  values (#{orderId},#{customerId},#{employeeId},#{orderDate},#{shipperId})
  </insert>
  <select id="selectOrders" resultMap="com.bitcamp.web.domain.OrderDTO">
    select * from Orders
  </select>
    <select id="selectOrdersByOption"
    resultMap="com.bitcamp.web.domain.OrderDTO"
    parameterType="com.bitcamp.web.domain.OrderDTO">
    
    select * from Orders where CUSTOMER_ID = #{customerId}
  </select>
    <select id="selectOrderById" 
    resultMap="com.bitcamp.web.domain.OrderDTO"
    parameterType="string">
    select * from Orders where Order_ID = #{orderId}
  </select>
<update
  id="updateOrder"
  parameterType="com.bitcamp.web.domain.OrderDTO">
   update Orders set
    CUSTOMER_ID = #{customerId},
    EMPLOYEE_ID = #{employeeId},
    ORDER_DATE = #{orderDate},
    SHIPPER_ID = #{shipperId}    

  where ORDER_ID = #{orderId}
  </update>
<delete
  id="deleteOrder"
  parameterType="com.bitcamp.web.domain.OrderDTO">
  delete from Orders where ORDER_ID = #{orderId}
  </delete>
</mapper>